# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a corrupted csv file!

## Objectives
You will be able to:
* Import data from csv files and Excel files
* Understand and explain key arguments for imports
* Save information to csv and Excel files
* Access data within a Pandas DataFrame (print() and .head())

##  Loading Files with Summary or Meta Data

Load either of the files Zipcode_Demos.csv or Zipcode_Demos.xlsx. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled 'Data'.

In [2]:
#Your code here
import pandas as pd

In [47]:
df = pd.read_csv('Data/Zipcode_Demos.csv', header = 47)

In [62]:
del df['47']

In [63]:
df

,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
0,10001,44,22,0.50,22,0.50,0,0,44,100,...,44,100,20,0.45,24,0.55,0,0,44,100
1,10002,35,19,0.54,16,0.46,0,0,35,100,...,35,100,2,0.06,33,0.94,0,0,35,100
2,10003,1,1,1.00,0,0.00,0,0,1,100,...,1,100,0,0.00,1,1.00,0,0,1,100
3,10004,0,0,0.00,0,0.00,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
4,10005,2,2,1.00,0,0.00,0,0,2,100,...,2,100,0,0.00,2,1.00,0,0,2,100
5,10006,6,2,0.33,4,0.67,0,0,6,100,...,6,100,0,0.00,6,1.00,0,0,6,100
6,10007,1,0,0.00,1,1.00,0,0,1,100,...,1,100,1,1.00,0,0.00,0,0,1,100
7,10009,2,0,0.00,2,1.00,0,0,2,100,...,2,100,0,0.00,2,1.00,0,0,2,100
8,10010,0,0,0.00,0,0.00,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
9,10011,3,2,0.67,1,0.33,0,0,3,100,...,3,100,0,0.00,3,1.00,0,0,3,100

## Level Up (Optional) - Loading Corrupt CSV files

Occasionally, you encountered some really ill formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is supposed to use quotes to differentiate between the commas denoting fields and commas within those fields themselves. For example, we could have a table like this:  

ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restaurant was pretty good, we had a great time.,98765

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restaurant was pretty good, we had a great time.","98765"

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled Yelp_Reviews_corrupt.csv. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [24]:
#Hint: here's a useful programming pattern to use.
try:
    #do something
    df = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', )
except Exception as e:
    #handle your exception e
    print(e)

only single character unicode strings can be converted to Py_UCS4, got length 0

In [22]:
df

     ,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0     1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu...
1     2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX...
2     4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6Q...
3     5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0...
4     10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFM...
5     11,UBv8heCQR0RPnUQG0zkXIQ,0,2016-09-23,0,HkYqG...
6     12,hdgYnadxg0GANhWOJabr2g,0,2014-08-23,0,RgqWd...
7     19,gZGsReG0VeX4uKViHTB9EQ,0,2017-08-16,0,51RHs...
8     25,f-v1fvtnbdw_QQRsCnwH-g,0,2017-11-18,0,alI_k...
9     26,yz66FIUPDKGhILDWzRLeKg,0,2017-11-18,0,85DRI...
10    27,6qDRqHWqf0EeHupSUEBfKg,0,2015-12-10,0,GbiLI...
11    28,7AlULGZI1pHt0imODsqdkg,0,2012-02-12,0,UaHgs...
12    29,th4pZ5LkoIIkb1Vmu_m2DA,0,2012-02-12,0,c4zzA...
13    30,nsSfCKW9KDB4COj9bzXApw,0,2012-02-12,0,TTBwo...
14    31,cP8ErpZfRzdVR5Fvks-pnQ,0,2012-02-12,0,-Cres...
15    32,Edr6SafmQrZa6CcFuItoqg,0,2014-06-03,0,U04Yg...
16    35,SpJYus_184M2TdT7t52rIA,0,2016-11-18,0,s9cpV...
17    40,qdC2h3MqCNussc5lhzL7gg,0,2015-11-05,0,AJ0Ig...
18    41,XgRDG9E_WLEbl8S-QUqQkQ,0,2015-11-05,0,5D_Ms...
19    42,awgoBwuhzlLGKEIverTGjQ,0,2017-01-21,0,5bWN_...
20    74,iO3GuIiZxzv-iETGVnoeVA,0,2016-11-06,0,RW_mY...
21    Food was pretty decent as well. Like the salad...
22    4 stars since I'm bummed there were no mojitos...
23    79,yz3KtngrF2PQrif8JW7gdw,0,2016-05-28,0,SLA1Y...
24    Manager doesn't take accountability for the la...
25    Be smart take you money out and run.,1,0pf5Vuz...
26    83,T2XdzAcj0M_kBD9_BHfZlw,0,2016-05-08,0,qxPiE...
27    Come for the popcorn and drinks.,1,0pf5VuzE4_1...
28    92,AtbXj3Rg1GF6Dj5zu6KCDg,0,2012-10-11,0,q6ij-...
29    95,6tSvz_21BMo3a4GaItwa0g,0,2017-04-08,0,66FSK...
...                                                 ...
4621  Starting off with drinks, Bamburger serves bee...
4622  The menu is varied, offering up soup, salads, ...
4623  We went with the Bambamburger ($11.50), which ...
4624  Bamburger serves up great burgers, fries and s...
4625  If you are hunting for a real deal on a burger...
4626  3225,iyyWYpWm8X-6i7kBR3JHuw,0,2014-01-27,0,yLK...
4627  4674,4KfDcE9iU2isFpoaKeDpgw,0,2012-06-14,0,rFH...
4628  4719,P4Plzlfm4uJjNmH3wY4W1Q,0,2014-01-14,0,Iob...
4629  3440,nW45ez1L6U4PsYhV1BTrGQ,0,2012-05-19,0,abS...
4630  I had given my husband some ideas of engagemen...
4631  The customer service here is great - they are ...
4632  We went back for our wedding bands and I worke...
4633  We've recommended 5 other friends to H&F - the...
4634  Go to H&F for all your jewellery needs - you w...
4635  4812,e13SEvJud_vgeDR_doL4sQ,0,2013-03-01,0,lUV...
4636  1970,9NBkIExYYz3w9O5JdzDOMA,0,2013-11-03,0,RT2...
4637  689,BTcY04QFiS1uh-RpkR7rAg,1,2013-06-02,0,6_A5...
4638  4874,t0T_4MM4EUHbCzBTF11FHA,0,2016-08-14,0,KqQ...
4639  564,5XYR6doRa5Nj1JMfSDei6A,1,2016-06-14,0,xlGJ...
4640  Highly recommend the custard cakes they are th...
4641  The rice flour cake is also really good and a ...
4642  The bean cakes are great here too!  orange, al...
4643  Can't go wrong with Nova Era,0,kBNFdviedCPFWyR...
4644  3458,aLcFhMe6DDJ430zelCpd2A,0,2013-10-02,0,kwi...
4645                           This was disappointing.
4646  First off, it was really awkward sitting on th...
4647  Second, when we were seated, it was so loud. I...
4648  Finally - Food was mediocre. I was extremely d...
4649  Wasn't worth the hype, unfortunately.,1,PkRFSQ...
4650  4206,WdBWhGe4Siqg3IYTc4_K4A,0,2016-08-15,0,O0t...

[4651 rows x 1 columns]

## Summary

Congratulations, you now practiced your pandas-importing skills!